@font-face {
    font-family: "Bebas Neue";
    src: url(../fonts/BebasNeue-Regular.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background:rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
  }

  ::-webkit-scrollbar{
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: #000000;
  }

  /* loader */

  #loader{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #fff;
      z-index: 99999;
  }

  nav{
      background-color: rgba(234, 237, 240, 0.87);
      color: black;
      width: 100%;
  }
  nav img{
      height: 30px;
  }

  nav .container-fluid{
    margin: auto 80px;
  }

  .navbar{
    z-index: 100;
  }

  .active{
      border: #fff solid 2px;
  }

  .nav-link{
      color: black;
  }

  .nav-link:hover{
      background-color: black;
    color: white;
}

@media only screen and (max-width: 500px){
    lottie-player{
        visibility: hidden;
    }
    .lottie-btn{
        visibility: hidden;
    }

    nav .container-fluid{
        margin: auto;
      }
}

footer{
    background-image: url("../img/bg.png");
  width: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-bottom: 30px;
}

footer .container{
    padding: 100px;
}

footer img{
    margin: 10px;
}

footer table{
    width: 100%;
}

footer td{
    color: #fff;
    text-align: center;
    font-family: monospace;
}

@media only screen and (max-width: 500px){
    footer .container{
        padding: 20px;
    }

    footer img{
        height: 80px;
        margin: 2px;
    }

    footer td{
        font-size: 10px;
    }
}

/* unvisited link */
footer a:link {
    color: rgb(255, 255, 255);
  }
  
  /* visited link */
  footer a:visited {
    color: rgb(255, 255, 255);
  }
  
  /* mouse over link */
  footer a:hover {
    color: rgb(231, 231, 231);
  }
  
  /* selected link */
  footer a:active {
    color: rgb(255, 255, 255);
  }

  /* nnn */

  .login-popup{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1099;
	background-color:rgba(0,0,0,0.6);
	visibility: hidden;
	opacity: 0;
	transition: all 1s ease;
}
.login-popup.show{
	visibility:visible;
	opacity: 1;
}
.login-popup .box{
	background-color:#ffffff;
	width: 750px;
	position: absolute;
	left: 50%;
	top:50%;
	transform:translate(-50%,-50%);
	display: flex;
	flex-wrap: wrap;
	opacity: 0;
	margin-left: 50px;
	transition: all 1s ease;

}
.login-popup.show .box{
	opacity: 1;
	margin-left: 0;
}
.login-popup .box .img-area{
	flex:0 0 50%;
	max-width: 50%;
	position: relative;
	overflow: hidden;
	padding:30px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.login-popup .box .img-area h1{
	font-size: 30px;
}
.login-popup .box .img-area .img{
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	background-image: url('img/bg.jpg');
	background-size: cover;
	background-position: center;
	animation: zoomInOut 7s linear infinite;
	z-index: -1;

}
@keyframes zoomInOut{
	0%,100%{
		transform: scale(1);
	}
	50%{
		transform: scale(1.1);
	}
}
.login-popup .box .form{
	flex:0 0 50%;
	max-width: 50%;
	padding:40px 30px;
}

.login-popup .box .form h1{
	color:#000000;
	font-size: 30px;
	margin:0 0 30px;
}
.login-popup .box .form .form-control{
	height: 45px;
	margin-bottom: 30px;
	width: 100%;
	border:none;
	border-bottom:1px solid #cccccc;
	font-size: 15px;
	color:#000000;
}
.login-popup .box .form .form-control:focus{
	outline: none;
}
.login-popup .box .form label{
	font-size: 15px;
	color:#555555;
}
.login-popup .box .form .btn{
	width: 100%;
	background-color: #E91E63;
	margin-top:40px;
	height: 45px;
	border:none;
	border-radius: 25px;
	font-size: 15px;
	text-transform: uppercase;
	color:#ffffff;
	cursor: pointer;
}
.login-popup .box .form .btn:focus{
	outline: none;
}

.login-popup .box .form .close{
	position: absolute;
	right: 10px;
	top:0px;
	font-size: 30px;
	cursor: pointer;
}

/*responsive*/
@media(max-width: 767px){
	.login-popup .box{
		width: calc(100% - 30px);
	}
	.login-popup .box .img-area{
		display: none;
	}
	.login-popup .box .form{
		flex: 0 0 100%;
        max-width: 100%;
	}
}
  

/* #Intro */
.showcase{
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 0px;
  justify-content: space-between;
  align-items: center;
  background: #111;
}
.showcase.active
{
  right: 300px;
}

.showcase video
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
.overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f403c028;
  mix-blend-mode: overlay;
}
.text
{
  position: relative;
  z-index: 10;
}

.text h2
{
  font-size: 5em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.text h3
{
  font-size: 4em;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.text p
{
  font-size: 1.1em;
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}
.text a
{
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
}
.text a:hover
{
  letter-spacing: 6px;
}

@media (max-width: 991px)
{
  .showcase,
  .showcase header
  {
    padding: 0px;
  }
  .text h2
  {
    font-size: 3em;
  }
  .text h3
  {
    font-size: 2em;
  }
}

/* #intro{
    height: 100vh;
    width: 100%;
    background:#000 url(../img/bg.png);
}

.intro-logo{
    width: 60%;
}

@media only screen and (max-width: 500px){
    #intro{
        height: 70vh;
        width: 100%;
    }
} */

/* USP */

#usp{
    width: 100%;
}
#usp .col{
    margin: 25px auto;
    text-align: center;
}

#usp h1{
    font-family: "Bebas Neue";
    margin: 55px 0px;
    text-align: center;
    font-size: 25px;
    font-weight: 900;
    letter-spacing: 15px;
}

#usp img{
    width: 300px;
}

#usp h4{
    font-family: "Bebas Neue";
    padding-top: 15px;
}

#usp p{
    text-align: justify;
}

@media only screen and (max-width: 500px){
    #usp h1{
        letter-spacing: 4px;
    }
}

/* ---- */

#usp2{
    width: 100%;
    background: rgb(19, 19, 19);
    color: rgb(255, 255, 255);
}

#usp2 .col{
    margin: 25px auto;
    text-align: center;
}

#usp2 h1{
    font-family: "Bebas Neue";
    padding: 55px 0px;
    text-align: center;
    font-size: 25px;
    font-weight: 900;
    letter-spacing: 15px;
}

#usp2 img{
    width: 300px;
}

#usp2 h4{
    font-family: "Bebas Neue";
    padding-top: 15px;
}

#usp2 p{
    text-align: justify;
}

#usp2 li{
    font-size: small;
    text-align: left;
}

@media only screen and (max-width: 500px){
    #usp2 h1{
        letter-spacing: 4px;
    }
}

/* Gallery */

#gallery{
    width: 100%;
    text-align: center;
}

#gallery .container{
    padding-bottom: 100px;
}

#gallery h1{
    font-family: "Bebas Neue";
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
    font-size: 25px;
    font-weight: 900;
    letter-spacing: 15px;
}

#gallery img{
    margin: 10px;
}

@media only screen and (max-width: 500px){
    #gallery img{
        width: 29%;
        margin: 4px 2px;
    }

    #gallery h1{
        margin: 30px;
        letter-spacing: 8px;
    }
}

/* quote */

.quote{
    background-image: url("../img/bg.png");
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    font-family: "Blacksword";
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 100px;
    padding: 40px;
}

@media only screen and (max-width: 500px){
    .quote{
        font-size: 30px;
        padding: 40px 10px;
    }
}

/* Featured */

#featured{
 width: 100%;
}

#featured h1{
    font-family: "Bebas Neue";
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
    font-size: 25px;
    font-weight: 900;
    letter-spacing: 15px;
}

.featured-logos{
    margin: auto 200px;
}

#featured img{
    text-align: center;
    height: 100px;
    filter: none;
    margin: 20px;
}

#featured img:hover{
    filter: grayscale(100%);
}

@media only screen and (max-width: 500px){
    #featured h1{
        letter-spacing: 8px;
    }

    .featured-logos{
        margin: auto;
    }

    #featured img{
        text-align: center;
        height: 50px;
        margin: 8px;
    }
}

/* Location */

#parallax-bg{
background-image: url("../img/bg.png");
  height: 40vh;
  width: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 50px 100px 50px;
}

#parallax-bg h1{
    font-family: "Bebas Neue";
    text-align: center;
    color: aliceblue;
}

#locationIntro p{
    text-align: center;
    color: black;
    padding: 50px 50px;
}

/* Location Table */
#locationTable{
    padding: 50px;
}

#locationTable table{
    text-align: center;
    width: 100%;
}


#locationTable td{
    padding: 50px;
    line-height: 50px;
}

#locationTable .btn{
    border-radius: 0px;
}

@media only screen and (max-width: 500px){
    #locationTable{
        padding: 50px 8px;
    }

    #locationTable td{
        font-size: 10px;
        padding: 5px;
        line-height: 20px;
    }

    #locationTable .btn{
        font-size: 10px;
    }
}

/* orderOnline */
#orderonline{
    min-height: 40vh;
    text-align: center;
    padding: 50px;
}

#orderonline .btn{
    margin: 10px;
    border-radius: 0px;
    text-align: center;
    width: 180px;
}

/* contact Page */
.g-form{
    width: 100vw;
    height: 900px;
}

.instagram{
  margin-left: 10px;
}

/* newsletter */

.newsletter{
    display: block;
}
.newsletter-close{
    margin: 10px;
}

.modal-body input{
    margin: 10px 0px;
}

.submit-newsletter{
    display: block;
}

.navinsta{
    border: #fff solid 1px;
    color: #fff;
    text-align: center;
    vertical-align: middle;
}

.modal-dialog{
    margin-left: 50px;
    width: 16%;
}

/* Contact Page */

#feedback{
    height: 100vh;
    margin: 25px 0px;
}

/* Style inputs */
#feedback input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  #feedback input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  #feedback input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  #feedback input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Style the container/contact section */
  #feedback .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  /* Create two columns that float next to eachother */
  #feedback .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  #feedback .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    #feedback .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }



  /* for Demo */
  #construction{
      margin: 200px 80px;
      text-align: center;
  }
